{{ 'c_blog.css' | asset_url | stylesheet_tag }}

<section id="blog" class="blog">
  <div class="blog__inner inner">
    <div class="heading blog__heading">
      <h2 class="heading-en blog__heading-en js-in-view fade-in-up">
        BLOG
      </h2>
      <p class="heading-ja blog__heading-ja js-in-view fade-in-up">
        ブログ
      </p>
      <p
        class="heading-description blog__heading-description js-in-view fade-in"
      >
        ひかりサービスの最新情報を発信しています。
      </p>
    </div>
  </div>

  <div class="blog__lists js-in-view fade-in">
    <div class="blog__lists-inner">
      <div class="splide splide-blog" aria-label="ブログ">
        <div class="splide-wrapper splide-blog__wrapper">
          <div class="splide__arrows blog-item__arrows">
            <button
              class="splide__arrow blog-item__arrow splide__arrow--prev blog-item__button-prev"
            ></button>
            <button
              class="splide__arrow blog-item__arrow splide__arrow--next blog-item__button-next"
            ></button>
          </div>
          <div class="splide__track splide-blog__track js-scrollable">

            {% assign blog_handle = 'news' %}
            <ul class="splide__list splide-blog__list">
              {% for article in blogs[blog_handle].articles limit: 5 %}
                <li class="splide__slide blog-slide">
                  <a href="{{ article.url }}" class="blog-item" target="_blank">
                    <div class="blog-item__image">
                      {% if article.image %}
                        <img
                          src="{{ article.image | img_url: '1000x668' }}"
                          alt="{{ article.title }}"
                          width="250"
                          height="167"
                          loading="lazy"
                        />
                      {% else %}
                        <img
                          src="{{ 'c_img_blog1.webp' | asset_url }}"
                          alt="{{ article.title }}"
                          width="250"
                          height="167"
                          loading="lazy"
                        />
                      {% endif %}
                    </div>
                    <div class="blog-item__info">
                      <time class="blog-item__date" datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                        {{ article.published_at | date: '%Y.%m.%d' }}
                      </time>
                      <h3 class="blog-item__title">{{ article.title }}</h3>
                      <p class="blog-item__text">
                        {{ article.content | strip_html | truncate: 100 }}
                      </p>
                    </div>
                  </a>
                </li>
              {% endfor %}
            </ul>


          </div>
        </div>
      </div>
    </div>
  </div>

  <a href="{{ blogs.news.url }}" class="button--common button--blog js-in-view fade-in">
    <span class="button--common__circle button--blog__circle"></span>
    <span class="button--common__text button--blog__text">ブログ一覧をみる</span>
  </a>
</section>

{% schema %}
  {
    "name": "c_blog",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "c_blog"
      }
    ]
  }
{% endschema %}