{{ 'c_feature.css' | asset_url | stylesheet_tag }}

<section id="reason" class="feature">

    <div class="feature__inner inner">
        <div class="heading feature__heading">
        <h2 class="heading-en feature__heading-en js-in-view fade-in-up">
            FEATURES
        </h2>
        <p class="heading-ja feature__heading-ja js-in-view fade-in-up">
            ひかりサービスが<br class="pc-hidden" />
            <span class="heading-ja text-highlight">選ばれる理由</span>
        </p>
        </div>

        <div class="feature__wrap">
        <ul class="feature__list">
            <li class="feature__item feature-item">
                <div class="feature-item__textbox">
                    <h3 class="feature-item__title">
                        <span class="feature-item__title-number">01</span>
                        <span class="feature-item__title-text js-in-view fade-in-up">
                            <span class="text-highlight text-bold">地域密着型</span>の<br />
                            ホームページ制作
                        </span>
                    </h3>

                    <div class="feature-item__description">
                    <p class="feature-item__text js-in-view fade-in">
                        私たちはこれまで、「お客様の身近で手厚いサポートをしていきたい」という想いから、福祉系会社・少年野球協会・飲食・小売業と、業種に関係なく地元のお客さまのホームページ制作に携わってきました。<br />
                        地元である
                        <span class="text-line">札幌・空知地方に根ざし、お客様にとっての「いつでも相談できるパートナー」を目指しています。</span>
                    </p>
                    </div>
                </div>

                <div class="feature-item__image">
                    <img
                    src="{{ 'c_img_feature1.webp' | asset_url }}"
                    alt="地域密着型の
                    ホームページ制作"
                    width="335"
                    height="240"
                    loading="lazy"
                    />
                </div>
            </li>

            <li class="feature__item feature-item">
                <div class="feature-item__textbox">
                    <h3 class="feature-item__title">
                        <span class="feature-item__title-number">02</span>
                        <span class="feature-item__title-text js-in-view fade-in-up">
                            ご要望・ご予算に合わせて、<br />
                            <span class="text-highlight text-bold">オーダーメイドのご提案</span>
                        </span>
                    </h3>

                    <div class="feature-item__description">
                        <p class="feature-item__text js-in-view fade-in">
                            コストを抑えた手軽なホームページ制作から、本格的なオンラインストア構築まで、
                            <span class="text-line">お客様のご要望やご予算に合わせたご提案が可能</span>です。<br />
                            それぞれのお客様に合わせた最適なご提案に向けて、まずは丁寧にヒアリングさせていただきます。<br />
                            また、なるべくご予算を抑えたい場合でも、低コストで高いパフォーマンスを実現する方法をご提案いたします。
                        </p>
                    </div>
                </div>

                <div class="feature-item__image">
                    <img
                    src="{{ 'c_img_feature2.webp' | asset_url }}"
                    alt="ご要望・ご予算に合わせて、
                    オーダーメイドのご提案"
                    width="335"
                    height="240"
                    loading="lazy"
                    />
                </div>
            </li>

            <li class="feature__item feature-item">
                <div class="feature-item__textbox">
                    <h3 class="feature-item__title">
                        <span class="feature-item__title-number">03</span>
                        <span class="feature-item__title-text js-in-view fade-in-up">
                            <span class="text-highlight text-bold">集客から保守・運用</span>
                            まで<br />
                            一貫してサポート
                        </span>
                    </h3>

                    <div class="feature-item__description">
                        <p class="feature-item__text js-in-view fade-in">
                            ホームページやオンラインストアは、ユーザーに見てもらわなければ意味がありません。<br />
                            ひかりサービスでは、
                            <span class="text-line">「作成して終わり」でなくお客様の成果につながるサポート体制</span>
                            を強みとしています。<br />
                            SNSを使った運用支援、Webマーケターとしての戦略立て、LINE構築による集客支援など、公開後の集客・運用に関しても、あらゆる面からお客様の目的達成をサポートいたします。
                        </p>
                    </div>
                </div>

                <div class="feature-item__image">
                    <img
                    src="{{ 'c_img_feature3.webp' | asset_url }}"
                    alt="集客から保守・運用まで一貫してサポート"
                    width="335"
                    height="240"
                    loading="lazy"
                    />
                    <div class="feature-item__infographic">
                        <span class="feature-item__infographic-item js-in-view fade-in">制作</span >
                        <span class="feature-item__infographic-item js-in-view fade-in">運用</span>
                        <span class="feature-item__infographic-item js-in-view fade-in">集客</span>
                        <span class="feature-item__infographic-item js-in-view fade-in">保守</span>
                    </div>
                </div>
            </li>

            <li class="feature__item feature-item">
                <div class="feature-item__textbox">
                    <h3 class="feature-item__title">
                        <span class="feature-item__title-number">04</span>
                        <span class="feature-item__title-text js-in-view fade-in-up">
                            <span class="text-highlight text-bold">きめ細やかで丁寧な</span><br />
                            カスタマーサポート</span>
                    </h3>

                    <div class="feature-item__description">
                        <p class="feature-item__text js-in-view fade-in">
                            ひかりサービスは、Web制作の仕事だけでなく、2013年より地域に根ざした障害者支援サービスも行っています。<br />
                            相談支援事業に長年従事してきたからこその、きめ細やかで丁寧なサポートが強みです。<br />
                            <span class="text-line">お客様に寄り添いながら、不安やお悩みの解消をお手伝いいたします。</span>
                        </p>
                    </div>
                </div>

                <div class="feature-item__image">
                    <img
                    src="{{ 'c_img_feature4.webp' | asset_url }}"
                    alt="きめ細やかで丁寧なカスタマーサポート"
                    width="335"
                    height="240"
                    loading="lazy"
                    />
                </div>
            </li>
        </ul>
        </div>
    </div>
    </section>

{% schema %}
{
    "name": "c_feature",
    "tag": "section",
    "class": "section c_feature",
    "presets": [
        {
            "name": "c_feature"
        }
    ]
}
{% endschema %}