{{ 'c_works.css' | asset_url | stylesheet_tag }}

<section class="works">
  <div class="works__inner inner">
    <div class="heading works__heading">
      <h2 class="heading-en works__heading-en js-in-view fade-in-up">
        WORKS
      </h2>
      <p class="heading-ja works__heading-ja js-in-view fade-in-up">
        制作実績
      </p>
      <p
        class="heading-description works__heading-description js-in-view fade-in"
      >
        実績の一部のみ公開しております。<br
          class="pc-hidden"
        />その他の制作実績については<br
          class="pc-hidden"
        />お問い合わせください。
      </p>
    </div>
  </div>

  <div class="works__lists js-in-view fade-in">
    <div class="works__lists-inner">
      <div class="splide splide-works" aria-label="制作実績">
        <div class="splide__wrapper spride-works__wrapper">
          <div class="splide__arrows works-item__arrows">
            <button
              class="splide__arrow works-item__arrow splide__arrow--prev works-item__button-prev"
            ></button>
            <button
              class="splide__arrow works-item__arrow splide__arrow--next works-item__button-next"
            ></button>
          </div>
          <div class="splide__track splide-works__track">
            <ul class="splide__list splide-works__list">
              <li class="splide__slide works-slide">
                <a
                  href="https://nemoto-shouten.com/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works1.webp' | asset_url }}"
                      alt="有限会社一山根本商店 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">オンラインショップ制作</p>
                      <p class="works-item__kind">Shopify</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道札幌市</h3>
                      <p class="works-item__client-name">
                        有限会社一山根本商店 様
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://cleanup-sports.com/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works2.webp' | asset_url }}"
                      alt="株式会社KTパートナーズ 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">オンラインショップ制作</p>
                      <p class="works-item__kind">Shopify</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道砂川市</h3>
                      <p class="works-item__client-name">
                        株式会社KTパートナーズ 様
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://mu-chu.jp/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works3.webp' | asset_url }}"
                      alt="株式会社D-connect 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">オンラインショップ制作</p>
                      <p class="works-item__kind">Shopify</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道札幌市</h3>
                      <p class="works-item__client-name">
                        株式会社D-connect 様
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://smilemeat.com/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works4.webp' | asset_url }}"
                      alt="株式会社ネクスト夕張ハルクス 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">オンラインショップ制作</p>
                      <p class="works-item__kind">Shopify</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道夕張市</h3>
                      <p class="works-item__client-name">
                        株式会社ネクスト夕張ハルクス 様
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://24jo-trainingcentre.com/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works5.webp' | asset_url }}"
                      alt="24条トレセン 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">ホームページ制作</p>
                      <p class="works-item__kind">Shopify</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道札幌市</h3>
                      <p class="works-item__client-name">24条トレセン 様</p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://ditripper.com/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works6.webp' | asset_url }}"
                      alt="2ディ・トリッパー蒸留所 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">WordPress</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道函館市</h3>
                      <p class="works-item__client-name">
                        ディ・トリッパー蒸留所 様
                      </p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://saitaniya-hokkaido.com/kikyoya/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works7.webp' | asset_url }}"
                      alt="桔梗や 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">WordPress</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道奈井江町</h3>
                      <p class="works-item__client-name">桔梗や 様</p>
                    </div>
                  </div>
                </a>
              </li>

              <li class="splide__slide works-slide">
                <a
                  href="https://saitaniya-hokkaido.com/"
                  class="works-item"
                  target="_blank"
                >
                  <div class="works-item__image">
                    <img
                      src="{{ 'c_img_works8.webp' | asset_url }}"
                      alt="株式会社才谷屋 様"
                      width="335"
                      height="223"
                      loading="lazy"
                    />
                  </div>
                  <div class="works-item__info">
                    <div class="works-item__label">
                      <p class="works-item__kind">ホームページ制作</p>
                      <p class="works-item__kind">WordPress</p>
                    </div>
                    <div class="works-item__textbox">
                      <h3 class="works-item__area">北海道奈井江町</h3>
                      <p class="works-item__client-name">
                        株式会社才谷屋 様
                      </p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <ul class="splide__pagination works-item__pagination"></ul>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "c_works",
    "tag": "section",
    "class": "section",
    "settings": [
    ],
    "presets": [
      {
        "name": "c_works"
      }
    ]
  }
{% endschema %}